<?xml version="1.0" encoding="utf-8"?>
<UpdateEZCashServiceConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ServiceInstallPath>C:\Program Files (x86)\EZCash</ServiceInstallPath>
  <ServiceDownLoadURL>https://tranactdevezcashservices.tranacthosted.com/download</ServiceDownLoadURL>
  <ServiceDownLoadUserName>admin</ServiceDownLoadUserName>
  <ServiceDownLoadPassword>ihVAqD6mdnZXw6HRbFMcv00s/sMA8cojyDlBad/xc78o1zI9WBqWpSYTVRAWmDPqEV9K/u1wS7dlALZYsr4PfHPhb/0kM2HYxX+nptHpknK/1i5MhIM91hrIiqvY2bzy</ServiceDownLoadPassword>
</UpdateEZCashServiceConfiguration>